<div class="subscriptions">
  <h1 class="subscriptions__title">Выберите подходящий для вас план</h1>
  <div class="subscriptions__cards">
    <div class="subscriptions__card">
      <div class="subscriptions__top">
        <p class="subscriptions__name">{{ monthlySubscription.title }}</p>
        <p class="subscriptions__features">
          {{ monthlySubscription.description }}
        </p>
      </div>
      <div class="subscriptions__bottom">
        <div class="subscriptions__plan">
          <p class="subscriptions__price">{{ monthlySubscription.amount }}₽</p>
          <p class="subscriptions__month">/месяц</p>
        </div>
        <div class="subscriptions__button" id="monthly">Выбрать план</div>
      </div>
    </div>
    <div class="subscriptions__card">
      <div class="subscriptions__top">
        <p class="subscriptions__name">{{ yearlySubscription.title }}</p>
        <p class="subscriptions__features">
          {{ yearlySubscription.description }}
        </p>
      </div>
      <div class="subscriptions__bottom">
        <div class="subscriptions__plan">
          <p class="subscriptions__price">{{ yearlySubscription.amount }}₽</p>
          <p class="subscriptions__month">/год</p>
        </div>
        <div class="subscriptions__button" id="yearly">Выбрать план</div>
      </div>
    </div>
  </div>
  <h1 class="subscriptions__title">Что вы можете получить с подпиской</h1>
  <table class="subscriptions__table">
    <tr>
      <th>Функции</th>
      <th>Бесплатный</th>
      <th>Премиум</th>
    </tr>
    <tr>
      <td>Содержание</td>
      <td>Ограниченный доступ к выбору фильмов и сериалов.</td>
      <td>
        Доступ к более широкому выбору фильмов и сериалов, включая большинство
        новых выпусков и эксклюзивный контент.
      </td>
    </tr>
    <tr>
      <td>Отменить в любое время</td>
      <td>Да</td>
      <td>Да</td>
    </tr>
    <tr>
      <td>Без рекламы</td>
      <td>Нет</td>
      <td>Да</td>
    </tr>
  </table>
</div>
