<div
  class="search-item-block"
  data-element-id="{{ this.uuid }}"
  data-element-title="{{ this.name }}"
>
  <img class="search-item-image" src="{{ this.avatar }}" />
  <div class="search-text-data">
    <div class="search-text-data__title">
      <h2>{{ this.name }}</h2>
    </div>
    <div class="search-text-data__description">{{ this.data }} tut pusto</div>
    <div class="search-text-data__information">
      <div class="search-text-data__tags">
        {{ this.birthday }}
      </div>
      <div class="search-text-data__tags">
        {{ this.birthPlace }}
      </div>
      <div class="search-text-data__tags">
        {{ this.career }}
      </div>
    </div>
  </div>
</div>
